* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 3rem 6.3% 0 6.3%;
  font-family: 'Lato', sans-serif;
  padding-bottom: 10rem;
}

body {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 400;
}

header {
  place-self: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 3.6rem;
  color: #D04F4F;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.errorRecipe {
  font-size: 2rem;
  color: red;
}

.formulaire {
  display: -ms-grid;
  display: grid;
  height: auto;
  grid-gap: 2rem;
}

.formulaire_search {
  width: 100%;
  position: relative;
}

.formulaire_search_barre-recherche {
  width: 100%;
  height: 7rem;
  font-size: 2.4rem;
  line-height: 2.1rem;
  padding: 1rem;
  background-color: #E7E7E7;
  border-radius: .5rem;
  border: none;
}

.formulaire_search_loupe {
  position: absolute;
  right: 1rem;
  top: 25%;
  width: 3.2rem;
  height: 3.2rem;
}

.formulaire_tag {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (10%)[auto-fill];
      grid-template-columns: repeat(auto-fill, 10%);
  grid-auto-columns: 10rem;
  row-gap: 1rem;
  -webkit-column-gap: 1.25%;
          column-gap: 1.25%;
}

.formulaire_tag_div {
  background-color: inherit;
  font-size: 1.4rem;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulaire_tag_div.appareil {
  background-color: #68D9A4;
}

.formulaire_tag_div.outil {
  background-color: #ED6454;
}

.formulaire_tag_div.ingredient {
  background-color: #3282F7;
}

.formulaire_tag_div button {
  cursor: pointer;
  border: none;
  background-color: unset;
  color: white;
  padding: 0rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.formulaire_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: unset;
}

.formulaire_input_button {
  cursor: pointer;
  height: auto;
  text-align: left;
  margin-left: 1rem;
}

.formulaire_input_button, .formulaire_input input {
  position: relative;
  width: 20rem;
  font-size: 1.8rem;
  color: white;
  border-radius: .5rem;
  border: none;
  padding: 1rem;
  line-height: 2.1rem;
  background-color: inherit;
}

.formulaire_input_button.hide, .formulaire_input input.hide {
  display: none;
}

.formulaire_input_container {
  margin-left: 10px;
  width: auto;
  position: relative;
  border-radius: .5rem;
}

.formulaire_input_container.hide {
  display: none;
}

.formulaire_input_container:nth-child(1) {
  background-color: #3282F7;
}

.formulaire_input_container:nth-child(2) {
  background-color: #68D9A4;
}

.formulaire_input_container:nth-child(3) {
  background-color: #ED6454;
}

.formulaire_input_container:first-child {
  margin-left: 0;
}

.formulaire_input_container input {
  outline: none;
  width: 60rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.formulaire_input_container input::-webkit-input-placeholder {
  color: white;
}

.formulaire_input_container input:-ms-input-placeholder {
  color: white;
}

.formulaire_input_container input::-ms-input-placeholder {
  color: white;
}

.formulaire_input_container input::placeholder {
  color: white;
}

.formulaire_input_container_liste {
  display: -ms-grid;
  display: grid;
  z-index: 10;
  width: 60rem;
  position: absolute;
  -ms-grid-columns: (20rem)[3];
      grid-template-columns: repeat(3, 20rem);
  height: auto;
  color: white;
  font-size: 1.8rem;
  line-height: 2.1rem;
  background-color: inherit;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.formulaire_input_container_liste p {
  padding: .5rem;
}

.formulaire_input_container_liste p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.formulaire_input_container_liste p[data-disable=true] {
  pointer-events: none;
  text-decoration: line-through;
}

.formulaire_input_container_liste.hide {
  display: none;
}

.formulaire_input_container_fleche {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.formulaire_input_container.develloped .formulaire_input_container_fleche {
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.recette {
  background-color: #E7E7E7;
  border-radius: .5rem;
  overflow: hidden;
}

.recette_image {
  height: 18rem;
  width: 100%;
  background-color: #C7BEBE;
  border-radius: .5rem .5rem 0 0;
}

.recette_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recette_description {
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.recette_description_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 2rem;
}

.recette_description_title_dure {
  font-size: 1.8rem;
  font-weight: 700;
  vertical-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recette_description_title_dure::before {
  content: url("../images/horloge.svg");
  right: .5rem;
  top: .4rem;
  position: relative;
}

.recette_description_detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.recette_description_detail_ingredient {
  overflow-y: auto;
  max-height: 10rem;
}

.recette_description_detail_ingredient li span:nth-child(1) {
  font-weight: 700;
}

.recette_description_detail_resume {
  overflow-y: auto;
  max-height: 10rem;
  font-family: 'Roboto', sans-serif;
}

.recette_description_detail li {
  list-style: none;
}

@media (max-width: 1200px) {
  main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=index.css.map */