* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  padding: 3rem 6.3% 0 6.3%;
  font-family: 'Lato', sans-serif;
}

body {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 400;
}

header {
  place-self: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 3.6rem;
  color: #D04F4F;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.formulaire {
  display: -ms-grid;
  display: grid;
  height: auto;
  grid-gap: 2rem;
}

.formulaire_search {
  width: 100%;
  position: relative;
}

.formulaire_search_barre-recherche {
  width: 100%;
  height: 7rem;
  font-size: 2.4rem;
  line-height: 2.1rem;
  padding: 1rem;
  background-color: #E7E7E7;
  border-radius: .5rem;
  border: none;
}

.formulaire_search_loupe {
  position: absolute;
  right: 1rem;
  top: 25%;
  width: 3.2rem;
  height: 3.2rem;
}

.formulaire_tag {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (10%)[auto-fill];
      grid-template-columns: repeat(auto-fill, 10%);
  grid-auto-columns: 10rem;
  row-gap: 1rem;
  -webkit-column-gap: 1.25%;
          column-gap: 1.25%;
}

.formulaire_tag_div {
  background-color: #3282F7;
  font-size: 1.4rem;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulaire_tag_div button {
  border: .2rem solid white;
  background-color: unset;
  color: white;
  padding: 0rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.formulaire_input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[3];
      grid-template-columns: repeat(3, 20%);
  grid-gap: 1rem;
  width: 100%;
}

.formulaire_input input {
  font-size: 1.8rem;
  color: white;
  height: 5rem;
  border-radius: .5rem;
  border: none;
  width: auto;
  padding: 1rem;
  line-height: 2.1rem;
}

.formulaire_input input::-webkit-input-placeholder {
  color: white;
}

.formulaire_input input:-ms-input-placeholder {
  color: white;
}

.formulaire_input input::-ms-input-placeholder {
  color: white;
}

.formulaire_input input::placeholder {
  color: white;
}

.formulaire_input input.ingredient {
  background-color: #3282F7;
}

.formulaire_input input.appareil {
  background-color: #68D9A4;
}

.formulaire_input input.outils {
  background-color: #ED6454;
}

.recette {
  background-color: #E7E7E7;
  border-radius: .5rem;
  overflow: hidden;
}

.recette_image {
  height: 18rem;
  width: 100%;
  background-color: #C7BEBE;
  border-radius: .5rem .5rem 0 0;
}

.recette_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recette_description {
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.recette_description_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 2rem;
}

.recette_description_title_dure {
  font-size: 1.8rem;
  font-weight: 700;
  vertical-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recette_description_title_dure::before {
  content: url("../images/horloge.svg");
  right: .5rem;
  top: .4rem;
  position: relative;
}

.recette_description_detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.recette_description_detail_ingredient {
  overflow-y: auto;
  max-height: 10rem;
}

.recette_description_detail_ingredient li span:nth-child(1) {
  font-weight: 700;
}

.recette_description_detail_resume {
  overflow-y: auto;
  max-height: 10rem;
  font-family: 'Roboto', sans-serif;
}

.recette_description_detail li {
  list-style: none;
}
/*# sourceMappingURL=index.css.map */