$primary_background: #E7E7E7
$secondary_background: #C7BEBE
$primary_font: #D04F4F

$primary_box_back: #3282F7
$secondary_box_back: #68D9A4
$tertiary_box_back: #ED6454



*
    margin: 0
    padding: 0
    box-sizing: border-box
html
    font-size: 62.5%
    padding: 3rem 6.3% 0 6.3%
    font-family: 'Lato', sans-serif
    
body
    display: grid
    grid-gap: 3rem
h2
    font-size: 1.8rem
    line-height: 2.1rem
    font-weight: 400
header
    place-self: center
    display: grid
    place-items: center
    font-size: 3.6rem
    color: $primary_font
nav

main
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 3rem

.errorRecipe
  font-size: 2rem
  color: red

.formulaire
    display: grid
    height: auto
    grid-gap: 2rem
    &_search
        width: 100%
        position: relative
        &_barre-recherche
            width: 100%
            height: 7rem
            font-size: 2.4rem
            line-height: 2.1rem
            padding: 1rem
            background-color: $primary_background
            border-radius: .5rem
            border: none
        &_loupe
            position: absolute
            right: 1rem
            top: 25%
            width: 3.2rem
            height: 3.2rem
    &_tag
        display: grid
        width: 100%
        grid-template-columns: repeat(auto-fill, 10%)
        grid-auto-columns: 10rem
        row-gap: 1rem
        column-gap: 1.25%
        &_div
          &.appareil
            background-color: $secondary_box_back
          &.outil
            background-color: $tertiary_box_back
          &.ingredient
            background-color: $primary_box_back
          background-color: inherit
          font-size: 1.4rem
          color: white
          padding: 1rem
          border-radius: .5rem
          display: flex
          justify-content: space-between
          align-items: center
          & button
            cursor: pointer
            border: none
            background-color: unset
            color: white
            padding: 0rem
            border-radius: 50%
            width: 2rem
            height: 2rem
            display: grid
            place-items: center
    &_input
        display: flex
        width: 100%
        background-color: unset
        &_button
          cursor: pointer
          height: auto
        &_button, & input
          &.hide
            display: none
          position: relative
          width: 20rem
          font-size: 1.8rem
          color: white
          border-radius: .5rem
          border: none
          padding: 1rem
          line-height: 2.1rem
          background-color: inherit
        &_container
          &.hide
            display: none
          margin-left: 10px
          width: auto
          position: relative
          border-radius: .5rem
          &:nth-child(1)
            background-color: $primary_box_back
          &:nth-child(2)
            background-color: $secondary_box_back
          &:nth-child(3)
            background-color: $tertiary_box_back
          &:first-child
            margin-left: 0
          & input
            &::placeholder
              color: white
            outline: none
            width: 60rem
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
          &_liste
            & p
              padding: .5rem
              &:hover
                text-decoration: underline
                cursor: pointer
            &.hide
              display: none
            display: grid
            z-index: 10
            width: 60rem
            position: absolute
            grid-template-columns: repeat(3, 20rem)
            height: auto
            color: white
            font-size: 1.8rem
            line-height: 2.1rem
            background-color: inherit
            border-bottom-left-radius: .5rem
            border-bottom-right-radius: .5rem
          &_fleche
            position: absolute
            right: 1rem
            top: 50%
            transform: translateY(-50%)
            transition: transform 250ms
          &.develloped &_fleche
            transform: rotate(180deg)  translateY(50%)
            transition: transform 250ms


.recette
    background-color: $primary_background
    border-radius: .5rem
    overflow: hidden
    &_image
        height: 18rem
        width: 100%
        background-color: $secondary_background
        border-radius: .5rem .5rem 0 0
        & img
            width: 100%
            height: 100%
            object-fit: cover
    &_description
        padding: 2rem
        font-size: 1.2rem
        font-weight: 400
        &_title
            display: flex
            justify-content: space-between
            align-items: baseline
            margin-bottom: 2rem
            &_dure
                font-size: 1.8rem
                font-weight: 700
                vertical-align: center
                flex-wrap: wrap
                &::before
                    content: url("../images/horloge.svg")
                    right: .5rem
                    top: .4rem
                    position: relative

        &_detail
            display: grid
            grid-template-columns: 1fr 1fr
            &_ingredient
                overflow-y: auto
                max-height: 10rem
                & li span:nth-child(1)
                    font-weight: 700
            &_resume
                overflow-y: auto
                max-height: 10rem
                font-family: 'Roboto', sans-serif
            & li
                list-style: none
